@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600|Montserrat:300,400,500,600,700,800,900|Muli:300,400,600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size:15px;
	// font-family: 'Muli', sans-serif;
	font-family: 'Montserrat', sans-serif;
	// font-family: 'Montserrat Alternates', sans-serif;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}