.main{
    background: linear-gradient(to bottom, rgba(0,131,202,1) 0%, rgba(0,131,202,1) 50%, rgba(0,89,202,1) 100%);
    
    .about{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        h1{
            font-size: 2.7rem;
            margin: 10vh 0 5vh 5vw;
            color: white;
        }
    
        .about-block{
            display: flex;
    
            .about-block-images{
                width: 28vw;
                display: flex;
                flex-direction: column;
                margin-left: 5vw;
    
                img{
                    width: 80%;
                    margin-bottom: 2vh;
                }
            }
            .about-block-text{
                width: 30vw;
                margin: 8vw 0 0 5vw;
                
                line-height: 3vh;

                p{
                    font-size: 1rem;
                    margin-bottom: 5vh;
                    line-height: 3.5vh;
                    color: white;
                }
            }
        }
    }
    .title-our{
        font-size: 2.7rem;
        color: #fff;
        margin: 0 0 5vh 5vw;
    }
    .ourvalues{
        display: flex;
        flex-direction: column;
        padding: 10vh 20vw;
        
        .solidary-right, .Responsibility-right, .Innovation-right{
            width: 30vw;
            align-self: flex-end;
            position: relative;
            margin-bottom: 10vh;


            img{
                width: 12vw;
                position: absolute;
                left: -8.5vw;
                top: - 2vh;
            }
        }
        .Attentiveness-left, .Willingness-left, .Reactivity-left{
            width: 30vw;
            align-self: flex-start;
            position: relative;
            margin-bottom: 10vh;

            img{
                width: 10vw;
                position: absolute;
                left: -8.5vw;
                top: - 2vh;
            }
        }

        h1{
            font-size: 2.7rem;
            color: #fff;
        }
        p{
            font-size: 1rem;
            margin-bottom: 5vh;
            line-height: 3.5vh;
            color: white;
        }
       .img-heart{
           opacity: 0.2;
       }
    }  
}
