#header, .header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .menu{
        min-height: 12vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vh 2vw 2vh 5vw;

        .menu-logo{
            height: 5vh;

            img{
                height: 100%;
            }
        }
        .navbar{
            width: 45vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 1.1rem;           
        }
        a{
            font-weight: 700;
            margin: 5px;
            color: #EE3325;
        }
        .link{
            color: #000;
            font-size: 0.7rem;
            font-weight: 500;
            text-transform: uppercase;
        }
        .navbarMobile{
            display: none;
        }         
    }
    .banner{ 
        min-height: 85vh; 
        min-width: 100%;      
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 5vw;
        background-image: url(assets/femaleheader.png);
        background-size: cover;
        background-repeat: no-repeat;
        
        .banner-text{
            width: 35vw;
            font-size: 2.2rem;
            font-weight: bold;
            z-index: 10;
            color:#FFF;
        }
    }
    .banner:after{        
        content:"";
        position: absolute;
        width: 100%;
        min-height: 46%;
        top: 56%;
        left: 0;
        background: linear-gradient(to bottom, rgba(0,131,202,0) 0%, rgba(0,131,202,0.62) 40%,  rgba(0,131,202,1) 80%,  rgba(0,131,202,1) 90%, rgba(0,131,202,1) 100%);
    }
    .banner-contact{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 9vh;
        border-radius: 3rem;
        padding: 0.8rem;
        position: absolute;
        right: 2vw;
        bottom: 15vh;
        cursor: pointer;
        z-index: 10;
        background-color: #ee3325;

        img{
            height: 5vh;
            margin-right: 0.8vw;
        }

        .banner-contactText{
            font-size: 1.1rem;
            font-weight: 600;
            color: #fff;
        }
    }
    form{
        width: 20vw;
        display: flex;
        flex-direction: column;
        z-index: 10;
        border-radius: 10px;
        position: absolute;
        right: 2vw;
        bottom: 10vh;
        background-color: #fff;
        display: none;

        .sheet{
            height: 7vh;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            padding: 5% 5% 5% 30%; 
            border-radius: 10px 10px 0 0 ;
            background-color: #EE3325;

           span{
                font-size: 2rem;
                cursor: pointer;
            }

            p{
                font-size: 1rem;
            }
        }
        .submit{
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 10%;

            .inputWhite, .inputRed{
                width: 40%;
                height: 5vh;
                border: 1px solid #EE3325;
                cursor: pointer;
                color: #EE3325;
                background-color: #fff;
            }
            .inputRed{
                border: 1px solid #EE3325;
                color: #fff;
                background-color: #EE3325;
                margin-left: 1vw;
            }
        }
        
        div{
            display: flex;
            flex-direction: column;
            padding: 3%;

            input, textarea{
                border: 1px solid #D2D2D2;
                border-radius: 5px;
            }
            input{
                height: 4vh;;
            }
        }
    }    
}

@media  (max-width: 768px) {
    #header, .header{
        position: relative;

        .menu{
            .navbar{
                display: none;
            }
            .navbarMobile{
                display: block;
            }
            .navbarMobile-text {
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                color: rgba(238,51,37,1);
                font-size: 1rem;
                margin-right: 2vw;
                text-transform: uppercase;
                display: block;
                cursor: pointer;                
            }
            .navbarMobile-menu{  
                width: 100%;
                height: 100vh;              
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                line-height: 15vh;
                right: 0;
                top: 0;
                background-color: #fff;
                z-index: 20;
                display: none;

                .close-icon{
                    font-size: 2rem;     
                    position: absolute;
                    top: 0;
                    right: 5vw;        
                }
                a{
                    font-size: 2rem;
                    z-index: 10;
                }
                .link{
                    color: #000;
                    font-size: 0.7rem;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
    }
}
@media (max-width: 425px){
    #header, .header{
        .banner{
            align-items: flex-end;
            background-position: center;

            p{
                min-width: 100%;
                font-size: 1.8rem !important;
                padding: 0 0 30% 10%;
            }
        }
        .banner-contact{
            bottom: 5vh;            

            img{
                margin: 0;
            }
            .banner-contactText{
                display: none;
            }
            
        }
        form{
            width: 100vw;
            height: 100vh;
            border-radius: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: #fff;

            .sheet{
                border-radius: 0;
            }
            label{
                margin-top: 2vh;
            }
            div{
                input{
                    height: 6vh;
                    margin-top: 2vh;
                }
                textarea{
                    height: 35vh;
                }
            
            }
        }
        
    }
    
}
// page about

.header{
    min-height: 10vh;
}