.history{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15vh 5vw;
    position: relative;
    overflow: hidden;
	color: #fff;
    background: linear-gradient(to bottom, rgba(0,131,202,1) 0%, rgba(0,131,202,1) 50%, rgba(0,89,202,1) 100%);
    
    #slide{
        width: 55vw;
        height: 87vh;
        display: flex;
        position: relative;
        overflow: hidden;
        margin: 20px auto 0 auto;
        border-radius: 4px;
        
        .slide-block-arrowRight, .slide-block-arrowLeft {
            position: absolute;
            top: 40%;
            z-index: 99;
            display: block;
            padding: 4% 3%;
            cursor: pointer;            
        } 
        .slide-block-arrowLeft--margin{
           right: 0;
        } 
        
        .slide-block{
            display: flex;
            justify-content: center;
            position: relative;
            margin: 0;
            padding: 0;
            min-width: 50vw;
            min-height: 80vh;

            .slide-block-image{
                position: relative;    
                padding: 3vh 5vw 3vh 2vw;
                width: 50vw;
                height: 90vh;
            }   
        }
    }
    p{  
        width: 25vw;
        font-size: 1.4rem;
        font-weight: 900;
        font-style: italic;
        color: #fff;
        z-index: 10;
    }
    .ballbig{
        min-width: 50vw;        
        min-height: 100vh;
        position: absolute;
        right: -10vw;
        border-radius: 50%;
        background-color: #FFF;
        opacity: 0.1;
    }
    
}
@media (max-width: 768px){
    .history{
        flex-direction: column-reverse;
        padding: 15vh 0;

        p{
            width: 70%;
            margin-bottom: 5vh;
        }
        #slide{
            display: flex;

            .slide-block{ 
                label{
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .slide-block-image{
                        width: 70%;
                        margin-right: 5vw;
                    }
                    .slide-block-arrow{
                        bottom: 0;
                        left: 73%;
                        margin-top: 50vh;
                    }
                   
                }
            }
            .slide-block-arrowLeft--margin{
                margin-left: 46vw;
            }
        }
        .ballbig{
            display: none;
        }
    }  
}  
@media (max-width: 450px){
    .history{ 
        #slide{
            width: 100vw;
            position: initial;

            .slide-block{ 
                .slide-block-image{
                    width: 95vw;
                    height: 75vh;
                    margin: 5vh 2vw 0 0;
                }   
            }
            .slide-block-arrowRight{
                top: 87%;
                left: 5vw;
            } 
            .slide-block-arrowLeft--margin{
                right: 5vw;
                top: 87%;
            } 
        }
    }
}
